<h2><%= @ticket.title %></h2>
<%= link_to "Edit", [:edit, @project, @ticket] %>
<%= simple_format(@ticket.description) %>
<%= link_to "Delete", [@project, @ticket], :method => :delete, :confirm => "Are you sure?"%>