<%= link_to "New User", new_admin_user_path %>
<ul> 
	<% @users.each do |user| %>
		<!-- Ruby calls the to_s method on user, i will override this in the user model-->
		<li><%= link_to user, [:admin, user]%></li> 
	<% end %>
</ul>